:root {
    --clr-light: #fff;
    --clr-dark: #000;
    --clr-accent: #ff365f;
    --font-secondary: 'Open Sans Condensed', sans-serif;
}

.hero {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(9, 9, 121);
    background: linear-gradient(
        90deg,
        rgb(5, 0, 92) 0%,
        rgb(9, 9, 121) 29%,
        rgb(0, 150, 209) 100%
    );
    clip-path: polygon(0 0, 100% 0, 100% 82%, 0% 100%);
    margin-bottom: -15vh;
}

.hero__title {
    font-size: 4rem;
    color: var(--clr-light);
    font-family: var(--font-secondary);
    text-align: center;
}

@media screen and (min-width: 768px) {
    .hero__title {
        font-size: 5rem;
    }
}

@media screen and (min-width: 992px) {
    .hero__title {
        font-size: 6rem;
    }
}

@media screen and (min-width: 1200px) {
    .hero__title {
        font-size: 8rem;
    }
}
