.postlist {
    width: 100%;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 20px;
}

.postlist__post {
    background: lightgrey;
    margin: 1rem 0;
    padding: 2.5rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postlist__link {
    color: #000;
    text-decoration: none;
    padding: 0.5rem 0;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}
